@import "../node_modules/bootstrap/scss/functions"; // 必要的方法
@import "variables";
@import "variables-dark";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/bootstrap"; //Bootstrap 完整原始碼


.my-header {
    background: rgba(255, 255, 255, 0.5);
}

.filter-buttons button {
  margin: 0.2rem;
}

.card[data-tags] {
  display: block;
}

.card-text {
    line-height: 150%;
    color: rgb(75, 75, 75);
}
.card-title {
    color: rgb(50, 50, 50);
    line-height: 200%;
}

body{
    background-color: rgb(240, 240, 240);
}


/* 動畫設定  */

@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}
  

.card {
  height: 100%;
  background: rgb(255, 255, 255);
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.1));

  border-radius: 1rem;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05);
  object-fit: cover;
  
  /* 動畫 */
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease, transform 0.6s ease;
  will-change: transform, opacity;
}

.card.fade-in-up {
  opacity: 1;
  transform: translateY(0);
  animation: fadeInUp 0.6s ease-out forwards;
}